@font-face {
  font-family: 'Lexxend'; /* Provide a name for the font */
  src: url('Lexend.ttf') format('truetype'); 
}

:root {
  --ifm-color-primary: #6d54bc;
  --ifm-color-primary-dark: #5f45b0;
  --ifm-color-primary-darker: #5941a6;
  --ifm-color-primary-darkest: #4a3689;
  --ifm-color-primary-light: #7e68c4;
  --ifm-color-primary-lighter: #8671c7;
  --ifm-color-primary-lightest: #9f8fd3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-heading-color: #6d54bc;
  --ifm-background-color: #FFFFFF !important;
  --ifm-background-surface-color: #F0F0F0 !important;
  --ifm-menu-color-background-active: rgba(109, 84, 188, 0.15);
  --ifm-menu-color-active: #6d54bc;
  --text-color: #1c1e26;

  --ifm-font-family-base: "Lexxend", sans-serif;
  --ifm-font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

[data-theme='dark'] {
  --ifm-color-primary: #8b6cef;
  --ifm-color-primary-dark: #724dec;
  --ifm-color-primary-darker: #663dea;
  --ifm-color-primary-darkest: #4618db;
  --ifm-color-primary-light: #a48bf2;
  --ifm-color-primary-lighter: #b09bf4;
  --ifm-color-primary-lightest: #d5caf9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.2);
  --ifm-heading-color: #8b6cef;
  --ifm-background-color: #21222c !important;
  --ifm-background-surface-color: #1c1e26 !important;
  --ifm-menu-color-background-active: rgba(109, 84, 188, 0.15);
  --ifm-menu-color-active: #8b6cef;
  --text-color: #FFFFFF;
}

[data-theme='light'] {
  --ifm-footer-background-color: #F0F0F0;
}

.footer--dark {
  --ifm-footer-title-color: #21222c;
  --ifm-footer-background-color: #F0F0F0;
  --ifm-footer-link-color: #21222c;
  color: var(--ifm-color-primary)

}

[data-theme='dark'] .footer--dark {
  --ifm-footer-background-color: #1c1e26;
  font-weight: 600;

}

.menu__link--active,
.navbar__link--active {
  font-weight: bold;
}

.footer_copyright {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

.header-github-link:hover {
  opacity: 1;
}

.header-github-link {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  opacity: 0.85;
  margin-right: 14px;
}

[data-theme='dark'] .header-github-link {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-discord-link:hover {
  opacity: 1;
}

.header-discord-link {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="26" height="26" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.09.09 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.09 16.09 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02zM8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12zm6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12z"%2F%3E%3C%2Fsvg%3E')
    no-repeat;
  opacity: 0.85;
  margin-right: 14px;
}

[data-theme='dark'] .header-discord-link {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="26" height="26" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.09.09 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.09 16.09 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02zM8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12zm6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12z"%2F%3E%3C%2Fsvg%3E')
    no-repeat;
}

.header-cimsta-link:hover {
  opacity: 1.0;
}

.header-cimsta-link {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'  xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(0.00167035,0,0,0.00137724,-61.1215,32.9986)'%3E%3Cg id='Logo'%3E%3Cg transform='matrix(77.8585,0,0,94.4288,44946.7,-11820.8)'%3E%3Cpath d='M0,-68.903L34.582,-103.485L-77.847,-103.485L-100.864,-80.468L-100.864,34.582L-58.909,34.582L-24.328,0.001L-66.282,0.001L-66.282,-68.903L0,-68.903Z' style='fill:rgb(255,113,67);fill-rule:nonzero;'/%3E%3C/g%3E%3Cg transform='matrix(77.8585,0,0,94.4288,48381.5,-9388.3)'%3E%3Cpath d='M0,-120.422L0,-120.291L-25.629,-94.662L0,-94.662L0,-25.759L-49.954,-25.759L-75.714,0L25.76,0L25.76,-120.422L0,-120.422Z' style='fill:rgb(160,161,167);fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat;
    opacity: 0.85;
  margin-right: 14px;
}

[data-theme='dark'] .header-cimsta-link {
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(0.00167035,0,0,0.00137724,-61.1215,32.9986)'%3E%3Cg id='Logo'%3E%3Cg transform='matrix(77.8585,0,0,94.4288,44946.7,-11820.8)'%3E%3Cpath d='M0,-68.903L34.582,-103.485L-77.847,-103.485L-100.864,-80.468L-100.864,34.582L-58.909,34.582L-24.328,0.001L-66.282,0.001L-66.282,-68.903L0,-68.903Z' style='fill:rgb(255,113,67);fill-rule:nonzero;'/%3E%3C/g%3E%3Cg transform='matrix(77.8585,0,0,94.4288,48381.5,-9388.3)'%3E%3Cpath d='M0,-120.422L0,-120.291L-25.629,-94.662L0,-94.662L0,-25.759L-49.954,-25.759L-75.714,0L25.76,0L25.76,-120.422L0,-120.422Z' style='fill:rgb(160,161,167);fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat;
}

[data-theme='light'] img[src$='#dark'],
[data-theme='dark'] img[src$='#light'] {
  display: none;
}

@media (min-width: 1200px) {
  article {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
}



